<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		
		<add name="Ucp_pabd_lab.Properties.Settings.DBLabSekolahConnectionString"
             connectionString="Data Source=DESKTOP-6V58GOQ\PUTRASQL;Initial Catalog=DBLabSekolahv1;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />

		<!-- KONEKSI CADANGAN (SCRRHRM) - DINONAKTIFKAN
        <add name="Ucp_pabd_lab.Properties.Settings.DBLabSekolahConnectionString"
             connectionString="Data Source=DESKTOP-SCRRHRM;Initial Catalog=DBLabSekolah;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
        -->
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>